{% macro render_thumbnail(parent, thumbnail_size=None, no_external_references=False) -%}
    {% set thumb = parent.thumbnail(thumbnail_size) %}
    {% if not no_external_references and thumb %}
        <a href="{{parent.link}}">
            <img class="preview" src="{{thumb.src}}"
                {% if thumb.width %}width="{{thumb.width}}"{% endif %}
                {% if thumb.height %} height="{{thumb.height}}"{% endif %} />
        </a>
    {% else %}
        <!-- no preview available -->
    {% endif %}
{%- endmacro %}

{% macro render_message(message, preview_size=None, no_external_references=False) -%}
    <div class="message-container  {%if message.subtype %} {{message.subtype}}{%endif%}" style="clear: left; min-height: 56px; color: #000000; font-family: lato, sans-serif; font-size: medium;">
        <div id="{{ message.id }}">
            {% if not no_external_references %}
                {% if message.img %}<img src="{{ message.img }}" class="user_icon" style="background-color: #f8f4f0; width: 36px; height: 36px; border-radius: 0.2em; vertical-align: top; margin-right: 0.65em; float: left;"/>{%else%}<div class="user_icon" style="background-color: #f8f4f0; width: 36px; height: 36px; border-radius: 0.2em; vertical-align: top; margin-right: 0.65em; float: left;"></div>{%endif%}
            {% endif %}
            <div class="message" style="display: inline-block; vertical-align: top; line-height: 1;">
                <div class="username" style="display: inline-block; font-weight: 600; line-height: 1;">{{ message.username }}
                    {%if message.user.email%} <span class="print-only user-email">({{message.user.email}})</span>{%endif%}
                </div>
                <a href="#{{ message.id}}"><div class="time" style="display: inline-block; color: #c8c8c8; margin-left: 0.5em;">{{ message.time }}</div></a>
                <div class="msg" style="line-height: 1.5;">
                    {{ message.msg|safe }}
                    {% for attachment in message.attachments -%}
                        <div class="message-attachment" 
                            {%if attachment.color %}style="border-color: #{{attachment.color}} padding-left: 5px; border-left: 2px"{%endif%}>
                            {%if attachment.service_name %}<div class="service-name" style="color: #999999;">{{ attachment.service_name }}</div>{%endif%}
                            {%if attachment.author_name%}
                                <div class="attachment-author">
                                    {% if not no_external_references %}
                                        <img src="{{attachment.author_icon}}" class="icon">
                                    {% endif %}}
                                    {%if attachment.author_link%}<a href="{{attachment.author_link}}">{%endif%}
                                    {{attachment.author_name}}
                                    {%if attachment.author_link%}</a><span class="print-only">({{attachment.author_link}})</span>{%endif%}
                                </div>
                            {%endif%}
                            {% if not no_external_references %}
                                {%if attachment.pretext %}<div class="pre-text">{{attachment.pretext}}</div>{%endif%}
                                <div class="link-title"><a href="{{ attachment.title_link }}">{{ attachment.title }}</a></div>
                                <div class="link-text">
                                    {{attachment.text}}
                                </div>
                                {%for field in attachment.fields %}
                                    <div class="attachment-field">
                                        {%if field.title %}<div class="field-title">{{field.title}}</div>{%endif%}
                                        {{field.value}}
                                    </div>
                                {%endfor%}
                                {{ render_thumbnail(attachment, preview_size) }}
                                {% if attachment.original_url %}
                                    <div class="print-only">Original URL: {{attachment.original_url}}</div>
                                {% endif %}
                                {%if attachment.footer%}
                                    <div class="attachment-footer" style="font-size: small;">
                                        <img src="{{attachment.footer_icon}}" class="icon" />
                                        {{attachment.footer}}
                                    </div>
                                {%endif%}
                            {%endif%}
                        </div>
                    {% endfor  %}
                    {% for file in message.files  -%}
                        <div class="message-upload">
                            <div class="link-title"><a href="{{ file.link }}">{{ file.title }}</a></div>
                            {% if not no_external_references %}
                                {{ render_thumbnail(file, preview_size) }}
                            {%endif%}
                        </div>
                    {% endfor %}
                    {% for reaction in message.reactions %}
                        <div class="message-reaction">
                        {{ reaction.name }} {{ reaction.usernames|join(', ') }}
                        </div>
                    {% endfor %}
		</div>
            </div>
        </div>
    </div>
{%- endmacro %}
